body{
    background-color: rgba(242, 242, 242, 1);
}

.start1{
    background-color: #0C70F2;
    width: 1585px;
    height: 103px;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    font-family: Inter;
    color: #ffffff;
}
h1{
    width: 310px;
    height: 55px;
    margin-top: 21px;
    margin-left: 56px;
    font-weight: 800;
    font-size: 50px;
    line-height: 60.51px;
}
#end2{
    width: 229px;
    height: 30px;
    margin-top: 13px;
    margin-left: -90px;
    font-family: Inter;
    font-weight: 800;
}
#end{
    width: 229px;
    height: 30px;
    margin-top: 13px;
    margin-left: 750px;
    font-family: Inter;
    font-weight: 800;
}
#start2{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

p{
    width: 879px;
    height: 282px;
    margin-top: 180px;
    margin-bottom: 10px;
    margin-left: 254px;
    font-family: Inter;
    font-size: 50px;
    font-weight: 800;
    line-height: 60.51px;
    color: #1f1f1f;
}
#imag1{
    width: 255px;
    height: 197px;
    margin-top: -340px;
    margin-left: 1133px;
}
    
#form1{
    width: 845px;
    height: 930px;
    margin-top: 260px;
    text-align: left;
    margin-left: 395px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 1);

   
}
label{
    font-family:Inter;
    font-size: 25px;
    font-weight: 400px;
    line-height: 5.26;
    margin-left: 55px;

}
input{
    width: 590px;
    height: 56px;
    font-family: Inter;
    font-weight: 400;
    font-size: 15px;
    line-height: 24.2px;
    margin-left: 55px;
    padding-left: 30px;
    background-color: rgba(242, 242, 242, 0.9);
    color: rgba(242, 242, 242, 0.9);
    border-radius: 10px;
    border: 0px;
}
#lati{
    width: 245px;
    height: 55px;
    border-radius: 10px;
    border: 0px;
}
#long{
    width: 245px;
    height: 55px;
    border-radius: 10px;
    border: 0px;
}
button{
    width: 590px;
    height: 56px;
    font-family: Inter;
    font-size: 32px;
    margin: 70px;
    border-radius: 10px;
    border: 0px;
    line-height: 38.73px;
    cursor: pointer;
    background-color: rgba(12, 112, 242, 0.9);
    color: rgba(255, 255, 255, 1); 
}
button:hover{
    background-color:rgba(99, 159, 243, 0.9);
    color: white;
    transform: translateY(-5px);
    box-shadow: 0px 15px 20px rgba(4, 40, 87, 0.9);
    transition-duration: 0.5s;

}
