.start1{
    background-color: #0C70F2;
    width: 1585px;
    height: 103px;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    font-family: Inter;
    color: #ffffff;
}
h1{
    width: 310px;
    height: 55px;
    margin-top: 21px;
    margin-left: 56px;
    font-weight: 800;
    font-size: 50px;
    line-height: 60.51px;
}
#end2{
    width: 229px;
    height: 30px;
    margin-top: 13px;
    margin-left: -90px;
    font-family: Inter;
    font-weight: 800;
}
#end{
    width: 229px;
    height: 30px;
    margin-top: 13px;
    margin-left: 750px;
    font-family: Inter;
    font-weight: 800;
}
#start2{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

p{
    width: 879px;
    height: 282px;
    margin-top: 180px;
    margin-bottom: 10px;
    margin-left: 254px;
    font-family: Inter;
    font-size: 50px;
    font-weight: 800;
    line-height: 60.51px;
    color: #1f1f1f;
}
#imag1{
    width: 255px;
    height: 197px;
    margin-top: -340px;
    margin-left: 1133px;
}
    
#form1{
    text-align: center;
    margin-top: 200px;
}
label{
    font-family: Inter;
    font-size: 25px;
    font-weight: 400px;
    line-height: 5.26;
}
input{
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    background-color: #f2f2f2;
    color: rgb(57,57,57,0,5);
    
    
}